body{ background-image: url(garou-markofthewolves-background-grant.gif);
    background-size: cover;
   
   font-family: 'Poppins';
   background-repeat: no-repeat;
   color: white
}
.message
{
  margin-top:-86px ;
  text-align: center;

}
#result{
  font-family: 'Bungee Spice';font-size: 18px;
}


#start {
  font-family: 'Cinzel Decorative';
  font-size: 20px;
  font-weight: 600;
  color: #ffb500;
}
#gc {
    font-size: 40px;
    font-weight: bold;
    font-family: Diplomata SC;
    color: #ff0000;
    animation: 0.2s shake infinite alternate;
    text-transform: uppercase;
}

#cc{
  font-size: 30px;
  color: rgb(7, 248, 7);
  font-weight: 1200;
  font-family: 'Knewave'
}
#rest{
  font-weight: bold;
  color:crimson;
  font-family: 'Mochiy Pop P One';
  animation: 0.2s shake infinite alternate;

}


#reset{
 
  border: 5px solid white;
  border-radius: 12px;
  width:  auto;
  height: auto;
  font-family: 'Alfa Slab One';
  font-size: 22px;
 margin-left: 77%;
 background-color: aliceblue;
 border-color: rgb(84, 84, 143);
 
}
@media screen and (max-width:800px){
  #rest{
    font-size: 14px;
    width: auto;
    height: auto;
  }
  
}
span{
  font-size: 35px;
}
#reset:hover
{
  border-color: rgb(86, 84, 143);
  color: rgb(253, 12, 12);
  background-color: rgb(77, 119, 157);
}

.images
{
  display:flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 200px;
  margin-top: -10px;
}
.computer img,.player img
{
  width: 75%;
}
.lone{
  height: 100px;
}
.points
{
  text-align: center;
  margin-top:3px ;
  font-family: 'Nabla';
  font-size: 20px;
}
#computerPoints{
  margin-left: 20px;
}
#playerPoints{
  margin-right: 20px;
}
.shakeComputer {
  animation: shakeComputer 0.8s linear;
}
.shakePlayer {
  animation: shakePlayer 0.8s linear;
}
span{
  font-size: 30px;
  font-weight: bold;
  color: rgb(242, 146, 3);
}
.options{
  margin-top: 87px;
  display: flex;
   justify-content: space-evenly;

}
.options button
{
height: 110px;
width: 120px;
  border-radius: 30px;
  border: 5px solid  rgb(242, 146, 3);
  cursor: pointer;
  outline: none;
  cursor: pointer;
  outline: none;
  transition: 0.2s all linear;

}

#n3{
  background-image: url(images/rock.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
  font-size: 0;

}
#n1{
  background-image: url(images/paper.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
  font-size: 0;

}
#n2{
  background-image: url(images/Scicor.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
  font-size: 0;

}
#n3:hover
{
  border: 12px solid darkcyan;
  color: coral;
}
#n2:hover
{
  border: 12px solid darkcyan;
  color: coral;
}
#n1:hover
{
  border: 12px solid darkcyan;
  color: coral;
}
@keyframes shakeComputer {
  0% {
    transform: rotate(-30deg);
  }
  25% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes shakePlayer {
  0% {
    transform: rotate(30deg);
  }
  25% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(30deg);
  }
  75% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes shake {
  0% { transform: skewX(-30deg); }
  5% { transform: skewX(30deg); }
  10% { transform: skewX(-3deg); }
  15% { transform: skewX(30deg); }
  20% { transform: skewX(0deg); }
  100% { transform: skewX(0deg); }  
}
.Blazing {
  display: inline-block;
  font-family: 'Frijole';
  color: #ffb500;
  margin-top: 10px;
  
  font-size: 30px;

  line-height: 50px;
  min-width: 50px;
  outline: none;
  vertical-align: middle;
    
  text-shadow:
        0 3px 20px red,
        0 0 20px red,
    0 0 10px orange,
    4px -5px 6px yellow,
    -4px -10px 10px yellow,
    0 -10px 30px yellow;
  animation: 2s Blazing infinite alternate linear;
}

@keyframes Blazing {
  0%   { text-shadow: 0 3px 20px red, 0 0 20px red,
    0 0 10px orange,
    0 0 0 yellow,
    0 0 5px yellow,
    -2px -5px 5px yellow,
    4px -10px 10px yellow; }
  25%   { text-shadow: 0 3px 20px red, 0 0 30px red,
    0 0 20px orange,
    0 0 5px yellow,
    -2px -5px 5px yellow,
    3px -10px 10px yellow,
    -4px -15px 20px yellow; }
  50%   { text-shadow: 0 3px 20px red, 0 0 20px red,
    0 -5px 10px orange,
    -2px -5px 5px yellow,
    3px -10px 10px yellow,
    -4px -15px 20px yellow,
    2px -20px 30px rgba(255,255,0,0.5); }
  75%   { text-shadow: 0 3px 20px red, 0 0 20px red,
    0 -5px 10px orange,
    3px -5px 5px yellow,
    -4px -10px 10px yellow,
    2px -20px 30px rgba(255,255,0,0.5),
    0px -25px 40px rgba(255,255,0,0)}
  100%   { text-shadow: 0 3px 20px red, 0 0 20px red,
    0 0 10px orange,
    0 0 0 yellow,
    0 0 5px yellow,
    -2px -5px 5px yellow,
    4px -10px 10px yellow; }
}
